package earnings

import (
	"fmt"
	"github.com/git-masi/go-htmx-sse/internal/.gen/model"
)

templ earningCreated(e model.Earnings) {
	<tr data-earning-id={ fmt.Sprint(*e.ID) }>
		<td>{ e.DateOfWork[:10] }</td>
		<td>Worker ID: { fmt.Sprint(e.WorkerID) } </td>
		<td>Hours: { fmt.Sprint(e.HoursWorked) }</td>
		<td>Pay rate: { fmt.Sprint(e.PayRateAmount) }</td>
		<td>{ e.Status }</td>
	</tr>
}
