package earnings

import (
	"fmt"
	"github.com/git-masi/paynext/internal/.gen/model"
)

templ earningCreated(e model.Earnings) {
	<div data-earning-id={ fmt.Sprint(e.ID) }>
		<p>
			<span>{ e.DateOfWork } - { e.Status }</span>
			| <span>Worker ID: { fmt.Sprint(e.WorkerID) } </span>
			| <span>Hours: { fmt.Sprint(e.HoursWorked) }</span>
			| <span>Pay rate: { fmt.Sprint(e.PayRateAmount) }</span>
		</p>
	</div>
}
