package earnings

import "github.com/git-masi/paynext/internal/.gen/model"
import "fmt"

templ earningCreated(e model.Earnings) {
	<div data-earning-id={ fmt.Sprint(*e.ID) }>
		<p>{ e.DateOfWork } - { e.Status }</p>
		<p>Worker ID: { fmt.Sprint(e.WorkerID) } </p>
		<p>Hours: { fmt.Sprint(e.HoursWorked) }</p>
		<p>Pay rate: { fmt.Sprint(e.PayRateAmount) }</p>
	</div>
}
